{% extends 'base.html' %}

{% block content %}

    <header class="bg-dark py-2">
        <div class="container px-2 px-lg-3 my-3">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Quiénes somos...</h1>
                <p class="lead fw-normal text-white-50 mb-0">Atendemos en Antonio Varas 666</p>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <br>
                    <br>
                    <p align="justify">Crecemos con tu interés, vendemos productos, ven a visitarnos, atendemos muy bien en nuestro taller
                        <br>
                        Contacte con nuestro equipo de ventas para definir cuál es la batería adecuada para su vehículo, coordine con ellos el día y hora de instalación y listo!.
Llámanos al:
+(32) 213 2720
(32) 213 2720

Horarios de Atención:
De lunes a viernes de 8:30 am a 7:00 pm
Sabados de 9:00 am a 3:00 pm
Domingos cerrados
<br>
Nos ajustamos a tu horario
Nos ajustamos a la hora de recepción y entrega de su auto fuera de los horarios establecidos con previa cita.
Paga desde la comididad de tu casa
                    </p>
                    <br>
                    <br>
                    <br><br>
                </div>
            </center>
        </div>
    </div>
    



{% endblock %}